table{
     width:100%;
     th{
         background: #556386;
         color:#fff;
     }
     th,td{
         text-align: center;
         height:35px;
         line-height:35px;
     }
td{
        border-bottom:1px solid #eee;
    }
 }
